<div id="page-wrapper">
  <!-- 사이드바 -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">좌측사이드 메뉴</a>
      </li>
      <li><a href="#"></a></li> 
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <!-- /사이드바 -->

  <!-- 본문 -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>사이드바 테스트</h1>
      <p>우측에 만들어지게 하고 싶음</p>
    </div>
  </div>
  <div class="container-fluid cover">
  <div class="row">
    <div class="col">
      그리드1
    </div>
    <div class="col">
      그리드2
    </div>
  </div>
</div>
  <!-- /본문 -->
</div>